.favorite-coins-container {
    background-color: #ff962e;
    height: 300px;
    position: relative;

    .favorite-coins-texts {
        margin: 0 0 0 15%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: white;
    }

    .favorite-coins-buttons-container{
        display: flex;
        flex-wrap: wrap;

        .favorite-coin-button {
            border: 1px solid white;
            margin-right: 20px;
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 10px;
            }
        }

        .favorite-coin-button:hover {
            background-color: #ce7721;
            border: 1px solid #ce7721;
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}