.allCoins-container {
    padding: 5% 15%;

    h3 {
        font-weight: bold;
    }

    table {
        width: 100%;
        border: 1px solid grey;
        padding: 2% 4%;
    }
      
    table,
    td {
        text-align: right;
    }
      
    .thName,
    .tdName {
        text-align: left;
    }

    tbody tr {
        cursor: pointer;
    }

    tbody tr:hover {
        text-decoration: underline;
    }
      
    @media only screen and (max-width: 500px) {
        .notInSmallScreen {
          display: none;
        }
    }
}

  

  

  