.selectedCoinContainer {
    display: flex;
    padding: 0 15%;
    padding-bottom: 50px;
}

@media only screen and (max-width: 500px) {
    .selectedCoinContainer {
      flex-direction: column;
    }
  }
  