.selectedCoinInfo {
    background-color: #f3f3f3;
    padding: 5%;
    width: 50%;
    border: 1px solid #e2e2e2;

    p {
        font-weight: bold;
      }
}
 
@media only screen and (max-width: 500px) {
    .selectedCoinInfo {
      width: auto;
    }
}
  